<%= form_with(model: @evaluation) do |form| %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :number_questions, style: "display: block" %>
    <%= form.number_field :number_questions, min: 1%>
  </div>

  <div>
    <%= form.label :evaluation_type, 'Evaluation type',  style: "display: block" %>
    <%= form.select :evaluation_type,
                   options_for_select(
                     Evaluation.evaluation_types.keys)
    %>
  </div>
  <div id="quizzes">
    <% if @evaluation.quizzes.present? %>
      <% evaluation.quizzes.each do |quiz| %>
        <%= form.fields_for :quiz, quiz do |builder| %>
          <%= render partial: "quiz_fields", locals: { f: builder } %>
        <% end %>
      <% end %>
    <% else %>
      <%= form.fields_for :quizzes do |quiz| %>
        <%= quiz.label :question %>
        <%= quiz.text_field :question %>
        <%= quiz.label :correct_answer %>
        <%= quiz.text_field :correct_answer %>
      <% end %>
      <% end %>
  </div>
  <div>
   
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
