<%= simple_form_for(question, local: true, url: exam_questions_url) do |f| %>
  <%= f.rich_text_area :question, value:"Qual a capital da Alenha" %>
  <%= f.input :type_question, 
              as: :select, 
              collection: select_options,
              class:"form-control" %>
  <div class="fields" id="fields">
    <div class="field">
    </div>
    <button type="button" id="add_field_button" >Add Answer</button>
  </div>
  
  <%= f.input :alternatives %>
  <%= f.input :points, label: 'Score Settings' %>
  <%= f.button :submit, class:"btn-success"%>
<% end %>

