<div>
  <%= form_with(model: question, local: true, url: exam_question_url ) do |form| %>
  <div>
    <%= form.label :question %>
    <%= form.rich_text_area :question %>
  </div>
  <div>
    <%= form.label :type_question %>
    <%= form.select  :type_question, Question.type_questions.keys %>

  </div>
  <div>
    <%= form.label :correct_answer %>
    <%= form.text_field :correct_answer %>
  </div>

  <div>
    <%= form.label :points %>
    <%= form.number_field :points %>
  </div>


  <div>
    <%= form.label :feedback %>
    <%= form.text_field :feedback %>
  </div>

  <div>
    <%= form.label :alternatives %>
    <%= form.text_field :alternatives %>
  </div>
  
  <%= form.submit %>
  <%end%>
</div>