<%= form_with(model: exam, class:'py-2')  do |form|  %>
  <% if exam.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
        <% exam.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-11">
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class: "form-control", max: 50,  placeholder:"Exam title" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-11">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description, class: "form-control", max: 100, placeholder:"Exam title" %>
    </div>
  </div>
  <div>
    <%= form.submit 'Create', class:"btn btn-primary" %>
  </div>
<% end %>
