<!DOCTYPE html>
<html>
  <head>
    <title>SmartExaminer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= favicon_link_tag 'smartexaminer.ico' %>
    <%= javascript_include_tag 'https://kit.fontawesome.com/157e18743d.js',crossorigin: "anonymous" %>
  </head>

  <body>
  <main id="wrapper" style="background-color: #f1f5f8">
    <section>

      <%= yield %>

    </section>
  </main>
  <%= render 'sharing/footer' %>






  </body>
</html>
