<!DOCTYPE html>
<html>
  <head>
    <title>Smart Exmanier</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% flash.each  do |key, msg| %>
     <div class="alert alert-info">
        <%= msg %>
       <button type="button" class="btn-close" data-dismiss="alert" aria-hidden="true">×</button>
      </div>
    <% end %>

    <%= yield %>
   
  </body>
</html>
