<!DOCTYPE html>
<html>
  <head>
    <title>SmartExaminer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= favicon_link_tag 'smartexaminer.ico' %>
  </head>

  <body>

  <% flash.each do |key, message| %>
    <% if message.kind_of?(Array) %>
      <div class="alert <%= flash_class(key) %> alert-dismissible text-center">
        <ul>
          <% message.each do |messagem| %>
            <li><%= messagem %></li>
          <% end %>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      </div>


    <% else %>
      <div class="alert <%= flash_class(key) %> alert-dismissible text-center">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      </div>
    <% end %>
  <% end %>



  <%= yield %>
   
  </body>
</html>
